<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/sitio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/icono.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <section id="encabezado">
            <h1 style="width: 100%;">
                <a href="/"><%=encabezado%></a>
                <a style="float:right;text-align:center;width: 20%; font-size: 60%; border:2px solid black;"  <%=link%>><i class="fas fa-user"></i> <%=usuario%></a>
                <a href="/logout" style="float:right;text-align:center;width: 20%; font-size: 60%; border:2px solid black;"><i class="fas fa-sign-out-alt"></i></a>     
            </h1>
        </section>
        <div id="a2">
            <h5><a id="linkpro" href="/productos">Explora nuestros productos</a></h5>
        </div>
    </header>
    <div id="conti">
        
    </div>
</body>
</html>