<nav>
    <a id="opcion1" href="/">Inicio</a>
    <a id="opcion2" href="/info">Sobre nosotros</a> 
    <a id="opcion3" href="/productos">Cursos</a>
    <a id="opcion4" href="/contacto">Contactanos</a> 
 </nav>