<footer>
    <section id="contactanos">
        
            <ul>
                <h6>Atencion al cliente</h6>    
                <a href="/preguntas"> Preguntas frecuentes</a>
                <a href="/contacto">Contactanos</a>
            </ul>

            <ul>
                <h6>Información de la empresa</h6>
                <a href="/info">Acerca de papeleria loren</a>
            </ul>
            
    </section>
    <h5> Papeleria loren @ Todos los derechos reservados</h5>
</footer>