<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezadoAdmin.html');%>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="./js/firebase.js" type="module"></script>
        <script>
            let P= document.getElementById('P');
            P.style.textDecoration='underline'
        </script>
    </head>
<body onload = "Articulos()">
    <div class="container">
        <div id="aa1">
            <div id="form">
            <div class="form-group">
                <label for="">ID: </label>
                <input type="number" id="ID" disabled>
            </div>
            <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" name="des" id="des" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="">Marca:</label>
                <input type="text" name="Marca" id="Marca" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="">Categoria: </label>
                <select name="cat" id="cat" class="form-select">
                    <option value="Escolar">Escolar</option>
                    <option value="Oficina">Oficina</option>
                    <option value="Regalos">Regalos</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Precio: </label>
                <input type="number" name="precio" id="precio" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="">Estado: </label>
                <select name="Status" id="Status" class="form-select">
                    <option value=1>Disponible</option>
                    <option value=0>No Disponible</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Imagen: </label>
                <input type="file" name="imagen" id="imagen" class="form-control-file" accept=".jpg , .png. , .jpeg .jfif">
                <input type="text" name="" id="imgNombre" hidden>
                <button id="DesImg">Cargar Imagen</button>
                <br> <br>
                <label for="">Url de la Imagen</label>
                <input type="text" class="form-control" name="url" id="url" disabled ='true'>
            </div> 
            <br>
            </div>
            <div id="clase2">
                <center>
                    <button type="button" class="btn btn-outline-primary" id="pre" onclick="previsualizar()">Previsualizar Producto</button>
                    <div id="previ">

                    </div>
                </center>
            </div>
        </div>
        <div id="alert-container">

        </div>
        <center>
            <button  class="btn btn-outline-success" id="insertar" onclick="insertar()">Añadir</button>
            <button type="button" class="btn btn-outline-info" onclick="actualizar()">Actualizar</button>
        </center>
        
        <hr>
        <br>
        <center>
        <h3>Listado de Productos</h3>
        </center>
        <div>
            <input type="number" id="input-search0" class="form-control" oninput="onInputChange(0)" placeholder="Buscar por ID">
            <br>
            <input type="text" class="form-control" id="input-search1" oninput="onInputChange(1)" placeholder="Buscar por Descripcion">
        </div>
        <br>
        <table class="table" id="table">
            <thead>
                <tr class='table-dark'>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Status</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tabla">

            </tbody>
        </table>    
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<script>
    const input = document.getElementById('precio');
    
    input.addEventListener('keydown', function(event) {
      if (event.key === 'e') {
        event.preventDefault();
      }
    });
  </script>
</html>