<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    <style>
        #a2{
        display: none;
    }
    h2{
        text-align: center;
    }
    body{
        background-color: #f6d1de;
    }
    .table-morado{
        background-color: rgb(128, 1, 248);
        color: white;
    }
    #tabla img{
    width: 100%;
    }
    th{
        width: 10%;
        text-align: center;
    }
    td{
        border-bottom: 1px solid rgb(255, 120, 217);
        width: 10%;
        text-align: center;
    }
    .input{
        border:none;
        background-color: rgba(255, 255, 255, 0);
        width: 60%;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .input2{
        border:none;
        background-color: rgba(255, 255, 255, 0);
        width: 40%;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    button{
        border-radius: 90%;
        font-size: medium;
        background-color: rgba(255, 255, 255, 0);
        color: red;
    }
    #comprar{
        text-align: right;
    }
    </style>
    <script src="./js/carro.js"></script>
<body onload="verCarrito()">
    <div class="container" style="margin: 5%;">

        <center>
            <h2>Mi carrito uwu</h2>
                <table class="table">
                    <thead>
                        <tr class='table-morado'>
                            <th>Imagen</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th style="width: 1%;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla">
                        
                    </tbody>
                </table>
                <hr>
                <div style="float: right;">
                    <div id="total" style="text-align:right">

                    </div>
                    <br>
                    <div id="comprar">
                        <a href="/comprar"><input type="submit" value="Comprar" class="btn btn-primary" style="background-color: blueviolet;"></a>
                    </div>
                    
                </div>
            
        </center>   
            
        <br>
    </div>


    <%-include('partials/pie.html');%>
</body>
</html>