<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <script src="./js/carro.js"></script>
    <link rel="shortcut icon" href="./img/icono.jpeg" type="image/x-icon">
    <title>Pagar</title>
</head>
<body class="container" style="background-color: #f6d1de;" onload="lista()">
    <header style="background-color: rgb(245, 114, 245);">
        <section id="encabezado">
            <h1 style="width: 100%;display: flex;flex-wrap: wrap;justify-content: space-between;padding: 20px;">
                <a id="principio" style="width: 60%;">Realizar Compra</a> 
                <div id="signos">     
                <a style="text-align:center;width: 80%; font-size: 60%;padding: 20px;"><i class="fas fa-user"></i> <%=usuario%></a>
                </div>
            </h1>
        </section>
    </header>
    <div class="row g-5 container">
        <div class="col-md-5 col-lg-4 order-md-last" style="background-color:#f6d1de;">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Tu carro</span>
        <span class="badge bg-primary rounded-pill" id="cantidad">3</span>
        </h4>
        <ul class="list-group mb-3">
            <div id="lista"></div>
        
        <li class="list-group-item d-flex justify-content-between">
        <span>Total (MXN)</span>
        <strong id="total">$20</strong>
        </li>
        </ul>
        <div class="card p-2" >
            <div class="input-group" >
            <center>
            <a href="/MiCarrito"><button type="submit" class="btn btn-primary" style="background-color: blueviolet;">Volver al carrito</button></a>
            </center>
            </div>
        </div>
        </div>
        <div class="col-md-7 col-lg-8" style="background-color: #f6d1de;">
            <hr class="my-4">
            <h4 class="mb-3">Pago</h4>
            <div class="my-3">
            <div class="form-check">
            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="" value="Credito">
            <label class="form-check-label" for="credit">Tarjeta de crédito</label>
            </div>
            <div class="form-check">
            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="" value="Debito">
            <label class="form-check-label" for="debit">Tarjeta de débito</label>
            </div>
            
            </div>
            <div class="row gy-3">
            <div class="col-md-6">
            <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
            <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
            <div class="invalid-feedback">
            Se requiere el nombre en la tarjeta
            </div>
            </div>
            <div class="col-md-6">
            <label for="cc-number" class="form-label">Número de tarjeta de crédito</label>
            <input type="number" class="form-control" id="cc-number" placeholder="" required="">
            <div class="invalid-feedback">
            Se requiere número de tarjeta de crédito
            </div>
            </div>
            <div class="col-md-3">
            <label for="cc-expiration" class="form-label">Vencimiento</label>
            <input type="number" class="form-control" id="cc-expiration" placeholder="" required="">
            <div class="invalid-feedback">
            Fecha de vencimiento requerida
            </div>
            </div>
            <div class="col-md-3">
            <label for="cc-cvv" class="form-label">CVV</label>
            <input type="number" class="form-control" id="cc-cvv" placeholder="" required="">
            <div class="invalid-feedback">
            Código de seguridad requerido
            </div>
            </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: blueviolet;" onclick="venta()">Continuar con el pago</button>
            </form>
        </div>
        </div>
</body>
</html>