<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<head>
    <title><%=titulo%></title>
</head>
<body>
    
    <div class="seccionC">
        <section >
        <form action="" method="" class="form">
            <br>
            <hr>
                <label for="Nombre" class="form-label" >Nombre: </label>
                <input type="text" name="nombre" id="nombre" required="true" 
                placeholder="Captura tu nombre">
                <br>
                <hr>
                <br>
                <label for="Correo" class="form-label">Correo: </label>
                <input type="email" name="correo" id="correo" required="true">
                <br>
                <hr>
                <h3>Comentarios</h3>
                <textarea name="comentario" id="comentario" cols="45" rows="10" class="form-label" required="true">
                    Escribe aqui tus comentarios</textarea>
                   <br> 
                   <hr>
                <input id="bton1" type="submit" value="Enviar Informacion">
                    <br>
                    <br>
                    <input id="bton1" type="reset" value="Limpiar">    
        
        </form>
        </section>
        </div>
    <%-include('partials/pie.html');%>
</body>
</html>