<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<style>
   body{
      background-color: #f6d1de;
   }
</style>
<body>
    
    <section>
        <div>
        <h2>Papeleria Loren</h2>
        <hr>
        <br>
        <p>Es un negocio el cual lleva mas de 10 años vendiendo productos de papeleria y miscelanea a los patasaladas de mazatlan.
           <br> Orgullosos de ser un local 100% mazatleco, usar paginas web para aumentar nuestra alcance.
           
         </p>
         <br>
        </div>
         <div id="ubicacion">
            <h3>¿Donde nos ubicamos?</h3>
         <p>
            Estamos ubicados en calle caleritas #315 Infonavit Conchi entre La amapa y El tule.
         </p>
         <br>
         <img src="https://2020030280jimena.000webhostapp.com/img/Maps.png" alt="">
        </div>
    </section>
    <%-include('partials/pie.html');%>
</body>

</html>