<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<head>
    <title><%=titulo%></title>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="stylesheet" href="./css/slider.css"> 
        <script src="./js/slider.js"></script>

    </head>
</head>
<body>
    
    <section id="ini">
        <center>
        <div id="carrusel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <center>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.bordadosmonterrey.com.mx/wp-content/uploads/2020/07/ACEPTAMOS-TARJETAS.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="http://www.mundodigitalactur.es/img/bg-img/b20.jpg" alt="Imagen2" >                 
                </div>
                <div class="carousel-item">
                    <img src="" alt="Imagen3">                  
                </div>
                </div>
                </center>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
                <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fas fa-chevron-right"></i>
                <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
        </center>
        <div>
            <h2>Bienvenidos a papeleria loren</h2>
        <p class="texto">Ofrecemos todo tipo de articulos para oficina, escolar y mercería</p>
        <p class="texto">Esta pagina es para ti, si buscas una papeleria con lo que necesitas</p>
        </div>
        <center>
        <div id="imagenes">
            <img src="https://cf.shopee.com.mx/file/43a45934e3382550c7bbcaad50bcff95" alt="">
            <img src="https://cherry-brightspot.s3.amazonaws.com/4d/2a/c562a1a64b7eae3584b83b3e155b/shutterstock-654339826.jpg" alt="">
            
        </div>
    </center>
    </section> 
    <%-include('partials/pie.html');%>
</body>
</html>