<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<head>
    <title><%=titulo%></title>
</head>
<style>
    #a2{
        display: none;
    }
    h2{
        text-align: center;
    }
    body{
        background-color: #f6d1de;
    }
</style>
<body>
    <h2>Nuestros articulos :3</h2>
    <section id="a">
        <% for(articulo of articulos){ %>
        <%    if(articulo.Estado==1){ %>
        <div id="cur">
            <center>
            <img src="<%=articulo.Foto%>" alt="">
            <h3><%= articulo.Descripcion %></h3>
            <p>Marca: <%= articulo.Marca %></p>
            <p>Categoria: <%=articulo.Categoria%></p>
            <a id="precio">$<%= articulo.Precio %></a>
            <br>
            <form action="/verProducto" method="post">
                <input type="text" name="Des" id="Des" value="<%= articulo.Descripcion %>" hidden>
                <input type="text" name="marca" id="marca" value="<%= articulo.Marca %>" hidden>
                <input type="text" name="cat" id="cat" value="<%=articulo.Categoria%>" hidden>
                <input type="number" name="precio" id="" value="<%= articulo.Precio %>" hidden>
                <input type="text" name="url" id="url" value="<%=articulo.Foto%>" hidden>
                <input type="submit" value="Ver" class="btn btn-primary" style="background-color: rgb(249, 104, 128);" >
            </form>
            </center>
        </div>
          <%  } %>  
        <% } %>
    </section>

    <%-include('partials/pie.html');%>
</body>
</html>