<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezadoAdmin.html');%>
    <head>
        <script>
            let P= document.getElementById('V');
            P.style.textDecoration='underline'
        </script>
    </head>
<body onload="ventas()">
    <div class="container">
        <center>
            Ventas hechas
        </center>
        <div id="carrito">
            <center>
            <button id="cerrar" onclick="cerrar()">Cerrar</button>
            </center>
            <table class="table">
                <thead>
                    <tr class='table-morado'>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="tabla2">
                    
                </tbody>
            </table>
        </div>
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th>Fecha</th>
                    <th>Codigo </th>
                    <th>Usuario</th>
                    <th>Total</th>
                    <th>Metodo de pago</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabla">

            </tbody>
        </table>
    </div>

</body>
<style>
    .table-morado{
    background-color: rgb(128, 1, 248);
    color: white;
}
#tabla2 img{
width: 100%;
}
th{
    width: 10%;
    text-align: center;
}
td{
    width: 10%;
    text-align: center;
}
.input{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    width: 60%;
    text-align: center;
    text-decoration: none;
    color: black;
}
.input2{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: black;
}
button{
   
    font-size: medium;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}

</style>
</html>