a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(252, 185, 218);
}
#barra{
    width: 65%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}
#formulario{
    width: 60%;
}
#aa1{
    display: flex;
    flex-wrap: wrap;
}
#clase2{
    width: 50%;
}
#cur{
    text-align: justify;
    font-size: large;
    border: 1px solid rgba(0, 0, 255, 0); 
    height: auto;
    width: 50% ;
    margin: 10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.471);
}
#cur img{
    display: flexbox;
    height: 138.5px;
    width: auto;
}
#tabla img{
    width: 100%;
}
#tabla td{
    width: 10%;
}

