*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    background-image: url(https://i.pinimg.com/600x315/79/f7/35/79f735bdc978bb91c3459899cad1a99a.jpg);
}

header{
    height: 15%;
    padding: 50px;
    background-color: lightgray;
    text-align: center;
    background-image: url(/img/enca2.jpg);
    color: white;
    font-family: 'Consolas';
}
nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #2698fd ;
    box-shadow: 0 0 10px blue;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: 25%;
}
nav a:hover{
    background-color: blue;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
section{
    display: flex;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: justify;
    flex-wrap: wrap;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: #1818D2;
}
footer h3{
    color: white;
    font-size: 150%;
}

#S2 img{
    height: 200px;
    
}
#S2 div{
    padding: 5%;
    justify-items: center;
}
#S2 h3{
    font-size: 200%;
}
#YT:hover{
    font-size: 200%;
    color: red;
    font-weight: bolder;
    border: 10px solid red;
    box-shadow: 0 0 15px red;
}

#TW:hover{
    font-size: 200%;
    color: purple;
    font-weight: bolder;
    border: 10px solid purple;
    box-shadow: 0 0 15px purple;
}
#IG:hover{
    font-size: 200%;
    color: violet;
    font-weight: bolder;
    border: 10px solid violet;
    box-shadow: 0 0 15px violet;
}
@media screen and (max-width: 700px){
    nav, .row, section{
        flex-direction: column;
    }
    nav a{
        width: 100%;
    }
}