*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notepad{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  max-width: 500px;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.20);
  border-radius: 0 0 10px 10px;
}

.header{
  width: 100%;
  height: 50px;
  background: #333;
     border-radius: 5px 5px 0 0;
  color: #F1EDE9;
  font-family: cursive;
  text-align: center;
  
}

.paper{
  width: 100%;
  height: 100%;
  min-height: 60vh;
  background: repeating-linear-gradient(#F1EDE9, #F1EDE9 31px, #94ACD4 31px, #94ACD4 32px);
  
  font-family: cursive;
  font-size: 22px;
  line-height: 34px;
  outline: 0;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}
.input{
  margin-left: 10px;
  background-color: #02020200;
  border: none;
  font-size: 22px;
  width: 70%;
  font-family: cursive;
  border-bottom: 2px solid black;
  text-align: center;
}
#recuerdame{
  background-color: #02020200;
  width: 30px;
}
.header a{
  color: #F1EDE9;
  float: left;
}
#en{
  background-color: #02020200;
  border: dashed 2px black;
  font-family: cursive;
  font-size: 22px;
  cursor: pointer;
}
#en:hover{
  background-color: rgba(0, 0, 0, 0.368);
}
.form-group{
  text-align: center;
}
#telefono::-webkit-inner-spin-button,
#telefono::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}